
<% @bookings.each do |booking|
	space = Space.first(:id => booking.space_id) %>
	<div>
		<p><%=booking.id%> </p>
		<p><%= space.name %></p>
		<p><%=booking.from_date %></p>
		<p><%=booking.to_date %></p>
		<p><%=booking.created_on %></p>
		<% if booking.hired %>
			<p>Confirmed</p>
		<% else %>
			<p>Unconfirmed</p>
		<%end%>
	</div>
<% end %>

<% @my_booking_request.each do |request| %>
	<% space = space_data(request.space_id) %>

	Request ID <%= request.id %><br>
	<% if !able_to_book(request.space_id) && !request.hired%>DATES TAKEN<br><%end%>
	Space name <%= space.name %><br>
	Date from <%= format_date(request.from_date.to_s) %><br>
	Date to <%= format_date(request.to_date.to_s) %><br>
	Cost per night £<%= format_price(space.price_per_night) %><br>
	Cost £<%= format_price(cost_of_space(request.from_date.to_s, request.to_date.to_s, space.price_per_night))%><br>
	User Name <%= user_data(request.user_id).name %> <br>
	User Email <%= user_data(request.user_id).email %> <br>
	Confirmed:
	<% if request.hired %>confirmed<%else%>unconfirmed<%end%>

	<form action='/request/validate' method='post'>
		<input type='hidden' name='request_id' value='<%=request.id%>'>
		<% if able_to_book(request.space_id) %>
			<input type='submit' name="validate" value='confirm'>
		<% end %>
		<% if request.hired==false %>
			<input type='submit' name="validate" value='deny'>
		<% end %>
	</form>
	<br>
<% end %>
