<head>
    <link href="styles/glDatePicker.default.css" rel="stylesheet" type="text/css">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="src/glDatePicker.min.js"></script>
<script src="src/calendar.js"></script>

SPACE ID <%= @request_id %><br>
Name: <%= @space.name %><br>
Description: <%= @space.description %><br>
Price per night: £<%= format_price(@space.price_per_night) %><br><br>
Available Dates<br>
<br><br>
<input type="text" id="startdate" gldp-id="mydate1" />
<div gldp-el="mydate1"
     style="width:400px; height:300px; position:absolute; top:70px; left:100px;">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<input type="text" id="enddate" gldp-id="mydate2" />
<div gldp-el="mydate2"
     style="width:400px; height:300px; position:absolute; top:70px; left:100px;">
</div>
<% amount_dates = 0
  @dates = Availabledate.all(:space_id => @request_id)%>
<% @dates.each do |available|
    amount_dates += 1 %>
  <input type="hidden" id="<%=available.id%>" value ="<%= available.date %>">
  <%= available.date.strftime('%d-%m-%Y') %><br>
<% end %>
<input type="hidden" id="amount_dates" value ="<%=amount_dates%>">
