<h2>Update Listing Confirmation</h2>

<h4>The details of your listing have been changed as follows:</h4>

<p>Old Details:</p>
Name: <%= @space_name_old %><br>
Description: <%= @space_description_old %><br>
Price per night: £<%= format_price(@space_price_per_night_old) %><br><br>

<p>New Details:</p>
Name: <%= @space_name_new %><br>
Description: <%= @space_description_new %><br>
Price per Night: £<%= format_price(@space_price_per_night_new) %>
