
<div class="container">

<h2 align="center">Update Listing Confirmation</h2>

<h4 align="center">The details of your listing have been changed as follows:</h4>

<div style="border:black solid 2px;width: 31%;float:left;margin-left: 15%;padding: 10px;" display="inline-block">
<p>Old Details:</p>
Name: <%= @space_old.name %><br>
Description: <%= @space_old.description %><br>
Price per night: £<%= format_price(@space_old.price_per_night) %>
Available From: <%= @space_old.start_date %><br>
Available To: <%= @space_old.end_date %><br>
</div>

<div style="border:black solid 2px;width: 31%;float:right; margin-right: 15%;padding: 10px;" display="inline-block">
<p>New Details:</p>
Name: <%= @space_new.name %><br>
Description: <%= @space_new.description %><br>
Price per Night: £<%= format_price(@space_new.price_per_night) %>
Available From: <%= @space_new.start_date %><br>
Available To: <%= @space_new.end_date %><br>
</div>
</div>
