<div class="container page_box">
  <% if logged_in? %>
    <h3 align="center">My Listed Spaces</h3>
    <ul id='myspaces'>
      <% if !@user_spaces.nil? %>
        <% @user_spaces.each do |user_space| %>

          <div class="container" style="border:black solid 2px">
            <li id="user_space-<%= user_space.id%>">
              <span class="name"><%= user_space.name %></span>
              <span class="description"><%= user_space.description %></span>
              <span class="price_per_night">£<%= format_price(user_space.price_per_night) %></span>
              <span class="available_from"><%= user_space.start_date %></span>
              <span class="available_to"><%= user_space.end_date %></span>
              <form action='/spaces/edit' method="post">
                <input type="hidden", name="spaceid" value="<%= user_space.id %>">
                <input type="hidden", name="name" value="<%= user_space.name %>">
                <input type="hidden", name="description" value="<%= user_space.description %>">
                <input type="hidden", name="price_per_night" value="<%= format_price(user_space.price_per_night) %>">
                <input type="hidden", name="available_from" value="<%= user_space.start_date %>">
                <input type="hidden", name="available_to" value="<%= user_space.end_date %>">
                <input type="submit" name="submit" class="btn btn-primary btn-primary-spacing" value="Update my Space">
              </form>
            </li>
          </div><br><br>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
