



<form action='/spaces/search' method='post' >
  <label for='start_date'>
    Start date: <input name='start_date' type='date' >
  </label>
  <label for='end_date'>
    End date: <input name='end_date' type='date'>
  </label>
  <input type="submit" value="Show Spaces">
</form>


<% if @spaces %>
  <h1> Available Spaces </h1>

  Searching for spaces on the dates <br>
  <%= @start_date %> to <%= @end_date %><br>
  <% @spaces.each do |space| %>
    <%= space.name %><br>
    <%= space.description %><br>
    £<%= '%.2f' % space.price_per_night %><br><br>
    <form action='/spaces/?request=<%=space.id%>'>
      <input type='hidden' id='request' name='request' value='<%=space.id%>'>
      <input type="submit" name="submit" value="request booking">
    </form>
  <% end %>
<% end %>
